/.coverage
/.eggs
/.installed.cfg
/.pip-sync
/.tox
/bin
/build
/develop-eggs
/dist
/eggs
/include
/lib
/lib-python
/lib_pypy
/local
/parts
/pip-selfcheck.json
/setuptools-*
/share
/site-packages
.*.sw?
*.mo
*.pyc
*.pyo
*$py.class
*.egg-info
